.about {
  padding-top: 120px;
  padding-bottom: 235px;

  @include vp-1200 {
    padding-top: 100px;
    padding-bottom: 164px;
  }

  @include vp-767 {
    padding-top: 64px;
    padding-bottom: 70px;
  }
}

.about .container {
  display: grid;
  grid-template-columns: 415px 1fr;
  gap: 85px;
  align-items: flex-start;

  @include vp-1200 {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 35px;
  }

  @include vp-767 {
    padding-left: 0;
    padding-right: 0;
    gap: 25px;
    text-align: left;
  }
}

.about__description {
  padding-left: 60px;

  @include vp-1200 {
    padding: 0;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.about__title {
  margin: 0;
  margin-top: 39px;
  margin-bottom: 7px;
  padding: 0;
  font-family: $ff-alumni-sans;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0.03em;

  @include vp-1200 {
    margin: 0;
    margin-left: -16px;
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 32px;
    line-height: 38px;
  }
}

.about__subtitle {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  font-family: $ff-roboto-condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;

  @include vp-1200 {
    margin-bottom: 33px;
  }

  @include vp-767 {
    margin-bottom: 24px;
  }
}

.about__text {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-family: $ff-roboto-condensed;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;

  @include vp-1200 {
    margin-left: 50px;
    margin-right: 50px;

    &--mobile {
      display: none;
    }
  }

  @include vp-767 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 30px;
  }
}

.about__wrapper {
  display: block;
  position: relative;
}

.about__img-wrapper {
  overflow: hidden;
}

.about__img {
  width: 100%;
  object-fit: cover;
  max-height: 401px;
  object-position: bottom;

  @include vp-1200 {
    transform: scale(1.15, 0.9);
    aspect-ratio: 646/366;
    object-position: -42px -25px;
    margin-top: -20px;
    max-height: 100%;
  }

  @include vp-767 {
    margin-top: 0;
    transform: scale(1);
    aspect-ratio: 320/313;
    object-position: -137px;
    margin-bottom: 40px;
  }
}
