.advantage {
  padding-top: 146px;
  padding-bottom: 90px;
  background-color: $color-ghost-white;
}

.advantage__title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  margin-left: 11px;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: $color-default-sapphire;
  text-align: center;
}

.advantage__list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 34%;
  margin: 0;
  padding-left: 60px;
  padding-right: 60px;
}

.advantage__item {
  display: flex;
  column-gap: 30px;
  list-style-type: none;
  position: relative;
  max-width: 340px;
  padding-left: 20px;
  padding-bottom: 75px;
  border-bottom: 2px solid $color-crimson-opacity;
}

.advantage__item p {
  margin: 0;
  padding: 0;
  font-size: 71px;
  font-weight: 700;
  line-height: 107px;
  background: $crimson-to-cobalt-primary;
  background-clip: text;
  color: transparent;
}

.advantage__item:nth-last-child(-n+2) {
  border-bottom: none;
  padding-top: 50px;
  padding-bottom: 0;
}

.advantage__item:nth-child(n+2) {
  column-gap: 35px;
  padding-left: 0;
}

.advantage__item:nth-child(-n+1) p {
  background: $crimson-to-cobalt;
  background-clip: text;
  color: transparent;
}

.advantage__item span {
  display: block;
  margin-top: -20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: $color-persian-blue;
}

.advantage__item h4 {
  margin: 0;
  margin-top: 23px;
  margin-bottom: 7px;
  padding: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  color: $color-default-sapphire;
}

.advantage__item div {
  grid-column: 2/3;
  grid-row: 1/3;
}

.advantage__item div>span {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: $color-default-sapphire;
}

.advantage__item--vip {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  // align-self: flex-start;
  // grid-column: 2/3;
  // grid-row: 1/3;
  display: block;
  max-width: 240px;
  padding: 66px 34px 65px;
  text-align: center;
  background-color: $color-resolution-blue;
  color: $color-default-white;
}

.advantage__item--vip p {
  font-size: 74px;
  font-weight: 700;
  line-height: 111px;
  color: $color-default-white;
}

.advantage__item--vip h4 {
  margin: 0;
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  color: $color-default-white;
}

.advantage__item--vip div>span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $color-default-white;
}
