.advantage {
  padding-top: 146px;
  padding-bottom: 90px;
  background-color: $color-ghost-white;
}

.advantage__title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  margin-left: 11px;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: $color-default-sapphire;
  text-align: center;

  @include vp-1200 {
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
  }
}

.advantage__list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  column-gap: 60px;
  margin: 0;
  padding-left: 60px;
  padding-right: 60px;

  @include vp-1200 {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.advantage__item {
  display: flex;
  column-gap: 30px;
  list-style-type: none;
  position: relative;
  padding-left: 20px;
  padding-bottom: 75px;
  border-bottom: 2px solid $color-crimson-opacity;

  @include vp-1200 {
    border: none;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
  }
}

.advantage__item:nth-last-child(-n+2) {
  border-bottom: none;
  padding-top: 50px;
  padding-bottom: 0;
}

.advantage__item:nth-child(-n+1) p {
  background: $crimson-to-cobalt;
  background-clip: text;
  color: transparent;
}

.advantage__item--vip {
  grid-column: 2/3;
  grid-row: 1/3;
  align-self: baseline;
  justify-self: center;
  display: block;
  padding: 66px 34px 65px;
  text-align: center;
  border: none;
  background-color: $color-resolution-blue;
  color: $color-default-white;

  @include vp-1200 {
    grid-column: 1/-1;
    grid-row: 2/3;
    padding: 45px 135px;
  }

  @include vp-767 {
    grid-column: inherit;
    grid-row: inherit;
    width: 100%;
    padding: 50px 0;
  }
}

.advantage__item--vip .stick__caption {
  font-size: 74px;
  font-weight: 700;
  line-height: 111px;
  color: $color-default-white;
}

.advantage__item--vip .stick__title {
  margin: 0;
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  color: $color-default-white;

  @include vp-1200 {
    font-size: 22px;
    line-height: 33px;
  }
}

.advantage__item--vip .stick__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $color-default-white;
}

//---stick---//

.stick__caption {
  margin: 0;
  padding: 0;
  font-size: 71px;
  font-weight: 700;
  line-height: 107px;
  background: $crimson-to-cobalt-primary;
  background-clip: text;
  color: transparent;

  @include vp-1200 {
    font-size: 58px;
    line-height: 87px;
  }

  @include vp-767 {
    font-size: 58px;
    line-height: 87px;
  }
}

.stick__wrapper {
  grid-column: 2/3;
  grid-row: 1/3;

  @include vp-767 {
    text-align: center;
  }
}

.stick__title {
  margin: 0;
  margin-top: 23px;
  margin-bottom: 7px;
  padding: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  color: $color-default-sapphire;

  @include vp-1200 {
    font-size: 20px;
    line-height: 30px;
  }
}

.stick__subtitle {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: $color-default-sapphire;

  @include vp-1200 {
    font-size: 16px;
    line-height: 22px;
  }
}

.stick__caption span {
  display: block;
  margin-top: -20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: $color-persian-blue;

  @include vp-1200 {
    font-size: 14px;
    line-height: 21px;
  }
}

//---stock---//

.stock {
  padding-top: 149px;
  padding-bottom: 117px;

  @include vp-1200 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.stock__title {
  margin-bottom: 34px;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: $color-default-sapphire;

  @include vp-1200 {
    margin-bottom: 50px;
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
  }
}

.stock__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;

  @include vp-1200 {
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.stock__item {
  list-style-type: none;
}

//---stock-item---//

.stock-item__wrapper {
  padding: 35px;
  border: 7px solid transparent;
  border-image-source: none;
  border-image-slice: 1;
  border-image-source: linear-gradient(148.82deg, #D10A42 0.85%, #00359F 100%);
}

.stock-item__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 26px;
  font-weight: 700;
}

.stock-item__subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  @include vp-767 {
    margin-bottom: 35px;
  }
}

.stock-item__button {
  padding: 5px 0;
  border-bottom: 1px solid $color-resolution-blue;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: $color-resolution-blue;
}

.stock-item__image {
  width: 100%;
  object-fit: contain;
}

.stock__item--promo {
  grid-row: 1/3;

  @include vp-1200 {
    grid-column: 1/-1;
    grid-row: inherit;
  }
}

.stock__item--promo .stock-item {
  display: flex;

  @include vp-767 {
    flex-direction: column;
  }
}

.stock__item--promo .stock-item__wrapper {
  padding: 45px;
  border: none;
  background-color: $color-torch-red;
}

.stock__item--promo .stock-item__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 44px;
  color: $color-default-white;
}

.stock__item--promo span {
  display: block;
  margin-bottom: 20px;
  font-size: 70px;
  font-weight: 700;
  line-height: 109px;
  color: $color-default-white;
}

.stock__item--promo .stock-item__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: $color-default-white;
}

.stock__item--promo .stock-item__button {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $color-default-white;
  border-color: $color-default-white;
}
