.contacts {
  padding: 56px 99px 62px 120px;
  border-top: 1px solid $color-light-slate-grey;

  @include vp-1200 {
    padding: 62px 100px 62px 133px;
    border: none;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 43px;
  padding: 0;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 0.03em;

  @include vp-1200 {
    margin-bottom: 38px;
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
  }
}

.contact__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 120px;
  row-gap: 22px;
  position: relative;
  margin: 0;
  margin-left: 4px;
  padding: 0;

  @include vp-1200 {
    column-gap: 93px;
    row-gap: 25px;
    margin: 0;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.contact__list::after {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: $color-light-slate-grey;

  @include vp-767 {
    display: none;
  }
}

.contact__item {
  margin: 0;
  margin-top: -6px;
  padding: 0;
  list-style-type: none;
}

.contact__item h5 {
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

  @include vp-1200 {
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 30px;
  }
}

.contact__item p,
.contact__item a {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: $color-default-sapphire;

  @include vp-1200 {
    font-size: 18px;
    line-height: 27px;
  }
}

.contact__item--phone {
  @include vp-767 {
    grid-row: 3/4;
  }
}
