.footer {
  padding-top: 43px;
  padding-bottom: 26px;
  background-color: $color-black-russian;

  @include vp-1200 {
    padding-top: 48px;
    padding-bottom: 34px;
  }

  @include vp-767 {
    padding-top: 44px;
    padding-bottom: 45px;
  }
}

.footer__navigation {
  display: grid;
  grid-template-columns: 90px 1fr 1.2fr 100px;
  column-gap: 35px;

  @include vp-1200 {
    column-gap: 9px;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 18px;
  }
}

.footer__logo {
  display: block;
  margin-right: auto;

  @include vp-1200 {
    margin-right: 62px;
  }

  @include vp-767 {
    margin: 0;
    margin-top: 7px;
  }
}

.footer__icon {
  display: block;
  width: 88px;
  height: 32px;
  fill: $color-default-white;

  @include vp-1200 {
    width: 82px;
    height: 18px;
  }

  @include vp-767 {
    width: 68px;
    height: 15px;
  }
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 451px;
  margin: 0;
  padding: 0;

  @include vp-1200 {
    gap: 30px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: baseline;
    gap: 13px;
  }
}

.footer__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__link {
  display: block;
  padding: 4px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: $color-default-white;

  @include vp-767 {
    font-size: 16px;
    line-height: 19px;
  }

  @include hover-focus {
    border-bottom: 1px solid $color-default-white;
  }
}

.footer__list--handling {
  justify-self: end;

  @include vp-1200 {
    margin: 0;
    margin-right: 22px;
  }

  @include vp-767 {
    justify-self: flex-start;
  }
}

.footer__list--lessons {
  margin-left: 5px;

  @include vp-1200 {
    margin: 0;
  }

  @include vp-767 {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}
