.form-wrapper {
  height: 100%;
  padding: 80px 85px 62px 103px;
  background-color: $color-default-sapphire;

  @include vp-1200 {
    padding: 62px 161px 67px 133px;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 68px;
  }
}

.form-wrapper form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 24px;
  column-gap: 31px;
  width: 410px;

  @include vp-1200 {
    column-gap: 60px;
    width: 100%;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 33px;
  }
}

.form-wrapper p {
  grid-column: 1/-1;
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 0.03em;
  color: $color-default-white;

  @include vp-1200 {
    margin-bottom: 10px;
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
  }

  @include vp-767 {
    margin-bottom: 5px;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
  }
}

.form-wrapper input {
  display: block;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $color-light-slate-grey;
  padding: 5px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: $color-default-white;
  text-transform: capitalize;

  &::placeholder {
    color: $color-default-white;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.form-wrapper button {
  grid-column: 1/-1;
  margin-top: 5px;
  padding: 17px;
  padding-bottom: 16px;
  background-color: transparent;
  border: 3px solid $color-default-white;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $color-default-white;
  text-transform: uppercase;
  cursor: pointer;

  @include vp-767 {
    margin-top: 5px;
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
    cursor: none;
  }

  @include hover-focus {
    background-color: $color-default-white;
    color: $color-default-sapphire;
  }
}
