.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 397px;
  width: 100%;
  column-gap: 18px;
  margin-top: 110px;

  @include vp-1200 {
    column-gap: 25px;
    margin-top: 50px;
  }

  @include vp-767 {
    min-width: 100%;
    gap: 0;
  }
}

.info__list {
  grid-column: 1/2;
  margin: 0;
  margin-bottom: 78px;
  padding: 0;
  align-self: flex-end;

  @include vp-1200 {
    margin-bottom: 42px;
  }

  @include vp-767 {
    margin-bottom: 32px;
    margin-right: -10px;
  }
}

.info__item {
  list-style-type: none;
}

.info__text {
  margin: 0;
  padding: 0;
  text-align: end;
  font-family: $ff-roboto-condensed;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: $color-default-white;
}

.info__label {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.info__city {
  margin: 0;
  margin-right: 51px;
  margin-bottom: 15px;
  padding: 0;
  font-family: $ff-alumni-sans;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0.03em;
  color: $color-default-white;

  @include vp-1200 {
    margin-right: 5px;
    margin-bottom: 7px;
    font-size: 34px;
    line-height: 41px;
  }

  @include vp-767 {
    margin-right: 3px;
    margin-bottom: 14px;
    font-size: 28px;
    line-height: 34px;
  }
}

.info__title {
  margin: 0;
  padding: 0;
  text-align: end;
  text-transform: uppercase;
  font-family: $ff-alumni-sans;
  font-size: 92px;
  font-weight: 600;
  line-height: 110px;
  letter-spacing: 0.05em;
  color: $color-default-white;

  @include vp-1200 {
    font-size: 72px;
    line-height: 86px;
    text-transform: none;
  }
}

.info__button {
  display: block;
  grid-column: 2/3;
  align-self: start;
  justify-self: end;
  margin-top: 5px;
  padding: 19px 55px 20px;
  border: 4px solid $color-default-white;
  font-family: $ff-roboto-condensed;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: $color-default-white;
  text-transform: uppercase;
  text-align: center;
  transition: all $trans-default;

  @include vp-1200 {
    margin-top: 13px;
    padding-left: 31px;
    padding-right: 31px;
  }

  @include vp-767 {
    grid-column: 1/-1;
    margin-top: 22px;
    padding: 21px 20px 20px;
    justify-self: auto;
  }

  @include hover-focus {
    background-color: $color-default-white;
    color: $color-default-sapphire;
    transition: all $trans-default;
  }

  @include active {
    background-color: $color-dark-cerulean-opacity;
  }
}

.is-disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: not-allowed;
}
