.main {
  margin-top: -49px;
  padding: 0 0 51px 0;

  @include vp-1200 {
    margin: 0;
    padding-bottom: 82px;
  }

  @include vp-767 {
    padding-top: 62px;
    padding-bottom: 79px;
  }
}

.main .container {
  display: flex;
  column-gap: 63px;

  @include vp-1200 {
    column-gap: 28px;
  }

  @include vp-767 {
    width: 100%;
    column-gap: 0;
  }
}

.main__img {
  min-width: 500px;
  min-height: 556px;

  @include vp-1200 {
    min-width: 324px;
    min-height: 390px;
  }

  @include vp-767 {
    display: none;
  }
}
