.price {
  display: block;
  position: relative;
  margin-bottom: 59px;
}

.price__background {
  margin: 0;
  padding: 0;
  font-family: $ff-roboto-condensed;
  font-size: 100px;
  font-weight: 700;
  line-height: 150px;
  color: $color-whisper;

  @include vp-767 {
    font-size: 80px;
    line-height: 120px;
  }
}

.price__content {
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 14px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-family: $ff-roboto-condensed;
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  color: $color-egyptian-blue;

  @include vp-767 {
    font-size: 48px;
    line-height: 72px;
  }
}

.price__icon {
  display: block;
  width: 30px;
  height: 42px;
  align-self: center;
  fill: $color-default-sapphire;

  @include vp-767 {
    width: 24px;
    height: 33px;
  }
}
