.quote {
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 28px;
  row-gap: 18px;
  max-width: 560px;
  margin: 0 auto;
  padding: 55px 62px 57px;
  background-color: $color-resolution-blue;
  box-shadow: 0 0 40px 0 $color-resolution-blue-opacity;

  @include vp-1200 {
    max-width: 566px;
    padding-left: 65px;
    padding-right: 65px;
  }

  @include vp-767 {
    max-width: 226px;
    grid-template-columns: 68px 1fr;
    column-gap: 30px;
    padding-top: 34px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 38px;
    row-gap: 12px;
  }
}

.quote__image-wrapper {
  grid-row: 1/3;

  @include vp-767 {
    grid-row: 1/2;
  }
}

.quote__image {
  margin-top: 7px;
  border-radius: 50%;
  object-fit: cover;

  @include vp-767 {
    margin-left: 16px;
  }
}

.quote__author {
  display: block;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  color: $color-default-white;

  @include vp-767 {
    margin-top: 16px;
  }
}

.quote__text {
  grid-column: 2/3;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $color-default-white;

  @include vp-767 {
    grid-column: 1/-1;
    text-align: center;
  }
}
