.reviews {
  padding-top: 50px;
  padding-bottom: 120px;

  @include vp-1200 {
    padding-top: 42px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-bottom: 70px;
  }
}

.reviews__wrapper {
  display: flex;
  max-width: 678px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 37px;
  margin-left: 9px;
  padding: 0;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 0.03em;
  text-align: center;

  @include vp-1200 {
    margin-left: -4px;
    margin-bottom: 40px;
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    margin-bottom: 44px;
    font-size: 32px;
    line-height: 38px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
}

.reviews__item {
  list-style-type: none;
}


.reviews__button {
  @include arrow-button;
  bottom: 43%;

  @include vp-767 {
    width: 32px;
    bottom: 47%;
  }

  &--prev {
    left: -18px;

    @include vp-767 {
      left: -12px;
    }
  }

  &--next {
    right: -18px;

    @include vp-767 {
      right: -12px;
    }
  }

  @include hover-focus {
    .reviews__icon {
      stroke: $color-default-black;
    }
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.reviews__icon {
  width: 16px;
  height: 32px;
  stroke: $color-dark-gray;

  &--next {
    transform: rotate(180deg);
  }

  @include vp-767 {
    width: 10px;
    height: 19px;
  }
}
