.reviews {
  padding-top: 50px;
  padding-bottom: 120px;
}

.reviews__wrapper {
  display: flex;
  max-width: 678px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 0.03em;
  text-align: center;
}

.reviews__list {
  margin: 0;
  padding: 0;
}

.reviews__item {
  list-style-type: none;
}


.reviews__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 56px;
  bottom: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  z-index: 10;

  @include vp-767 {
    width: 32px;
  }

  &--prev {
    left: 0;

    @include vp-767 {
      left: 0;
    }
  }

  &--next {
    right: 0;

    @include vp-767 {
      right: 0;
    }
  }

  @include hover-focus {
    .reviews__icon {
      stroke: $color-default-black;
    }
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.reviews__icon {
  width: 16px;
  height: 32px;
  stroke: $color-dark-gray;

  &--next {
    transform: rotate(180deg);
  }

  @include vp-767 {
    width: 10px;
    height: 19px;
  }
}
