.stock {
  padding-top: 149px;
  padding-bottom: 67px;

  @include vp-1200 {
    padding-top: 95px;
    padding-bottom: 50px;
  }

  @include vp-767 {
    padding-top: 64px;
    padding-bottom: 20px;
  }
}

.stock__title {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: $color-default-sapphire;
  text-align: center;

  @include vp-1200 {
    margin-bottom: 38px;
    margin-left: -8px;
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    margin-bottom: 42px;
    font-size: 32px;
    line-height: 38px;
  }
}

.stock__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;

  @include vp-1200 {
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.stock__item {
  list-style-type: none;
}
