.stock-item {
  height: 100%;
}

.stock-item__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 25px 35px 28px 28px;
  border: 7px solid transparent;
  border-image-slice: 1;
  border-image-source: $crimson-to-smalt-stock;

  @include vp-1200 {
    min-height: 211px;
  }

  @include vp-767 {
    padding-top: 37px;
    padding-left: 36px;
    padding-bottom: 39px;
    text-align: center;
  }
}

.stock-item__title {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-size: 26px;
  font-weight: 700;
}

.stock-item__subtitle {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  @include vp-767 {

  }
}

.stock-item__subtitle br {
  display: none;

  @include vp-1200 {
    display: block;
  }
}

.stock-item__button {
  align-self: baseline;
  border-bottom: 1px solid $color-resolution-blue;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: $color-resolution-blue;
  text-transform: uppercase;

  @include vp-767 {
    align-self: center;
  }
}

.stock-item__image {
  width: 100%;
  min-height: 462px;
  object-fit: cover;

  @include vp-767 {
    min-height: 299px;
  }
}

.stock__item--promo {
  grid-row: 1/3;

  @include vp-1200 {
    grid-column: 1/-1;
    grid-row: inherit;
  }
}

.stock__item--promo .stock-item {
  display: flex;

  @include vp-767 {
    flex-direction: column;
  }
}

.stock__item--promo .stock-item__wrapper {
  padding: 45px;
  padding-top: 33px;
  padding-bottom: 45px;
  border: none;
  background-color: $color-torch-red;
}

.stock__item--promo .stock-item__title {
  margin-bottom: -25px;
  font-size: 28px;
  font-weight: 700;
  line-height: 44px;
  color: $color-default-white;
}

.stock__item--promo span {
  display: block;
  font-size: 70px;
  font-weight: 700;
  line-height: 109px;
  color: $color-default-white;

  @include vp-767 {
    margin-bottom: -5px;
  }
}

.stock__item--promo .stock-item__subtitle {
  margin-bottom: 31px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: $color-default-white;
}

.stock__item--promo .stock-item__button {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $color-default-white;
  border-color: $color-default-white;
}
