.tabs {
  display: inline-flex;
  position: relative;
  column-gap: 46px;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;

  @include vp-1200 {
    margin-bottom: 45px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(120, 120, 120, 0.2);
  }
}

.tabs__item {
  list-style-type: none;
}

.tabs__link {
  display: inline-block;
  position: relative;
  vertical-align: baseline;
  padding: 20px 0;
  font-family: $ff-roboto-condensed;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(16, 38, 84, 0.5);

  @include vp-1200 {
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 24px;
  }
}

.tabs__link.is-active {
  color: $color-default-sapphire;

  &::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #D10A42;
  }
}
