.trainer {
  padding-top: 53px;
  padding-bottom: 91px;

  @include vp-1200 {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 30px;
    padding-bottom: 70px;
  }
}

.trainer .container {
  position: relative;

  @include vp-1200 {
    padding-left: 101px;
    padding-right: 101px;
  }

  @include vp-767 {
    padding-left: 47px;
    padding-right: 47px;
  }
}

.trainer__title {
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 0.03em;

  @include vp-1200 {
    margin-bottom: 32px;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 41px;
    font-size: 32px;
    line-height: 38px;
  }
}

.trainer__wrapper {
  position: relative;
}

.trainer__list {
  margin: 0;
  padding: 0;
}

.trainer__item {
  display: block;
  position: relative;
  list-style-type: none;
  cursor: pointer;

  &:hover {
    @include trainer;
  }

  @include focus {
    @include trainer;
  }
}

.trainer__item figure {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}

.trainer__item img {
  width: 100%;
  object-fit: cover;

  @include vp-1200 {
    aspect-ratio: 268/294;
  }

  @include vp-767 {
    aspect-ratio: 226/274;
  }
}

.trainer__item figcaption {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 22px;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  color: $color-default-white;
}

.trainer__item div {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 52px 45px 35px 55px;
  background-color: $color-sapphire-opacity-slider;
  color: $color-default-white;
  opacity: 0;
  overflow-y: auto;

  @include vp-767 {
    padding: 42px 33px 30px 34px;
  }
}

.trainer__item h4 {
  margin: 0;
  margin-left: -10px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;

  @include vp-767 {
    margin-left: 0;
  }
}

.trainer__item p {
  margin: -4px 0 34px -9px;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.trainer__item ul {
  margin: 0;
  padding: 0;
}

.trainer__item li {
  position: relative;
  margin-bottom: 13px;
  padding-left: 16px;
  list-style-type: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $color-default-white;
  }
}

.trainer__button {
  @include arrow-button;

  @include vp-1200 {
    bottom: 35%;
  }

  @include vp-767 {
    width: 32px;
  }

  &--prev {
    left: 26px;

    @include vp-1200 {
      left: 24px;
    }

    @include vp-767 {
      left: 4px;
    }
  }

  &--next {
    right: 26px;

    @include vp-1200 {
      right: 24px;
    }

    @include vp-767 {
      right: 4px;
    }
  }

  @include hover-focus {
    .trainer__icon {
      stroke: $color-default-black;
    }
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.trainer__icon {
  width: 16px;
  height: 32px;
  stroke: $color-dark-gray;

  &--next {
    transform: rotate(180deg);
  }

  @include vp-767 {
    width: 10px;
    height: 19px;
  }
}
