.video {
  display: block;
  position: absolute;
  bottom: -28.6%;
  left: -9.5%;

  @include vp-1200 {
    bottom: -24%;
    left: 30.4%;
  }

  @include vp-767 {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.video__link {
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(20, 54, 122, 0.5);
    z-index: 1;
  }
}

.video__img {
  max-width: 364px;
  object-fit: cover;
  height: auto;

  @include vp-1200 {
    width: 266px;
  }

  @include vp-767 {
    min-width: 320px;
    width: 100%;
    max-width: 100%;
    min-height: auto;
    min-height: 167px;
  }
}

.video__button {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background: transparent;
  background-image: url("../img/svg/button-video.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  z-index: 2;
  cursor: pointer;

  @include vp-1200 {
    width: 73px;
    height: 73px;
  }

  @include hover-focus {
    width: 120px;
    height: 120px;
  }

  @include active {
    opacity: 0.3;
  }
}
